<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened style='width: 200px; background-color: #3f51b5;'>
    <mat-nav-list>
      <a mat-list-item routerLink="/" class='white-link'>Почетна</a>
      <a mat-list-item (click)="setState('passChange')" class='white-link'>Промена лозинке</a>
      <a mat-list-item (click)="setState('products')" class='white-link'>Артикли</a>
      <a mat-list-item (click)="setState('receipts')" class='white-link'>Рачуни</a>
      <a mat-list-item (click)="setState('expenditure')" class='white-link'>Потрошња</a>
    </mat-nav-list>
    <mat-nav-list class='logout-list' style='width:100%'>
      <a mat-list-item (click)="logout()" style='vertical-align: bottom;' class='white-link'>Одјава</a>
    </mat-nav-list>
  </mat-sidenav>



  <mat-sidenav-content>
    <app-expenditure *ngIf='state =="expenditure"' [user]='myUser'></app-expenditure>
    <app-pass-change *ngIf='state == "passChange"' [user]='myUser' [admin]='null' [company]='null'></app-pass-change>

    <app-user-receipts *ngIf='state == "receipts"' [user]='myUser' [companies]='companies'></app-user-receipts>
    <div style='width:100%; margin-top: 2%' fxLayout='column' fxLayoutAlign='space-between center'
      *ngIf='state == "products"'>
      <div>
        <h3 style='text-align: center; margin-top: 1%;'>Предузећа присутна у фискалном систему.<br />
        </h3>
      </div>

      <div style='width: 100%;' class='center'>
        <mat-form-field appearance='fill'>
          <mat-label>Претражи назив</mat-label>
          <input matInput [(ngModel)]='searchName'>
        </mat-form-field>
      </div>

      <div style='width:100%'>
        <mat-list>

          <mat-list-item>
            <div style='color: gray' class='center'>
              Назив предузећа
            </div>


            <div style='position: absolute; right: 1%; color: gray' class='center'>
              Адреса предузећа
              <button mat-button color="primary" class='invisible'>
                <mat-icon>list</mat-icon>
              </button>
            </div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item *ngFor='let company of filteredCompanies' class='center'>
            {{company.companyName}} &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;


            <div style='position: absolute; right: 1%;' class='center'>
              {{company.companyAdress}}
              <button mat-button color="primary" (click)='getArticles(company)'>
                <mat-icon>list</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>


    </div>

  </mat-sidenav-content>

</mat-sidenav-container>