<mat-toolbar color="primary" style="min-height: 120px !important; height: 120px !important;">
  <img src="/assets/logo2.png" style='height: 75%; margin-left:2.5%; margin-right: 1.7%;'>
  Систем за
  фискализацију <br />Република Србија
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar style="min-height: 30px !important; height: 30px !important; position: fixed;
bottom: 0px;" color='primary'>
  <span class="spacer"></span>
  <span class="mat-body author">Copyright: Филип Дробњаковић 2022</span>
</mat-toolbar>