<mat-toolbar color="primary" style="min-height: 120px !important; height: 120px !important;">
  <img src="/assets/logo2.png" style='height: 75%; margin-left:2.5%; margin-right: 1.7%;'>
  Систем за
  фискализацију <br />Република Србија
</mat-toolbar>
<router-outlet></router-outlet>
<footer fxLayoutAlign='center' fxLayout='row wrap' style="position:fixed; bottom:0;">
  <div fxLayoutAlign='center'>© 2022 Copyright: &nbsp;
    <a href="https://github.com/Tjofil/"> Филип Дробњаковић</a>
  </div>
</footer>