<div fxLayout='column' fxLayoutAlign='center' style='margin-top: 3%; margin-bottom: 3%;'>
    <div fxLayout="row wrap" fxLayoutGap="0px grid" fxLayoutAlign='space-evenly'>
        <app-register fxLayoutAlign='center' [isCustomer]="false" [isAdmin]="false"
            (messageEvent)="changeMessage($event)" [class.bleak]='registerMode == true'>
        </app-register>

        <div fxLayout='column'>
            <div fxLayoutAlign='center space-between' fxLayout='column' [class.bleak]='registerMode == false'
                style=" margin-bottom: 5%;">
                <div fxLayout='row wrap' fxLayoutAlign='center'>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Корисничко име</mat-label>
                            <input matInput [(ngModel)]='loginUsername'>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Лозинка</mat-label>
                            <input type='password' matInput [(ngModel)]='loginPassword'>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutAlign='center' [class.bleak]='registerMode == false'>
                    <button mat-raised-button (click)='login()' color='primary'>Пријави се</button>
                </div>
            </div>

            <div [ngClass]='{"bleak" : !registerMode }' fxLayoutAlign='center' fxLayout='column'
                style='margin-top: 5%; margin-bottom: 5%;'>

                <label id='mode-radio-group' fxLayoutAlign='center' style='margin-bottom: 3%'>Тип
                    корисника:</label>
                <mat-radio-group fxLayout='row wrap' fxLayoutAlign='space-around center' color='primary'
                    [(ngModel)]='companyMode' aria-labelledby='mode-radio-group'>
                    <mat-radio-button [value]='true'>Предузеће
                    </mat-radio-button>
                    <mat-radio-button [value]='false'>Физичко лице</mat-radio-button>
                </mat-radio-group>
            </div>

            <div>
                <hr style='border-top: 2px solid #574AE2; width: 90%;'>
            </div>

            <div fxLayoutAlign='center' fxLayout='column' style='margin-top: 3%; margin-bottom: 5%;'>
                <label id='mode-radio-group' fxLayoutAlign='center' style='margin-bottom: 3%'>Одаберите услугу:</label>
                <mat-radio-group color='primary' fxLayoutAlign='space-around center' style='margin-bottom: 3%'
                    fxLayout='row wrap' [(ngModel)]='registerMode' aria-labelledby='mode-radio-group'>
                    <mat-radio-button [value]='false'>Регистрација
                    </mat-radio-button>
                    <mat-radio-button [value]='true'>Пријава</mat-radio-button>
                </mat-radio-group>
            </div>

            <div fxLayoutAlign='center'>
                <p [ngClass]="{ 'error-msg' : message != successReg , 'success-msg' : message == successReg }">
                    {{message}}
                </p>
            </div>

        </div>
    </div>
    <div>
        <h3 style='text-align: center; margin-top: 5%;'>Најскорије издати рачуни:<br />
        </h3>
    </div>
    <div style='width: 100%;' fxLayoutAlign='center'>
        <mat-nav-list style='width: 100%; margin-bottom: 2%;'>
            <mat-list-item>
                <div style='margin-right: 3%' class='center'>
                    <mat-icon class='invisible'>keyboard_arrow_right</mat-icon>
                </div>
                <div style='color: gray; '>
                    Предузеће и детаљи локације

                </div>

                <div style='position: absolute; right: 1%; color: gray' class='center'>
                    Вредност рачуна (са порезом)
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container *ngFor='let receipt of lastReceipts'>
                <mat-list-item (click)=onSelect(receipt)>

                    <div style='margin-right: 3%;'>
                        <mat-icon *ngIf='!expandingReceipts.includes(receipt)'>keyboard_arrow_right</mat-icon>
                        <mat-icon *ngIf='expandingReceipts.includes(receipt)'>keyboard_arrow_down</mat-icon>
                    </div>

                    {{getCompany(receipt)}}, {{receipt.location + (receipt.department != ''?(', ' + receipt.department +
                    ', бр. стола ' + receipt.tableId) : '')}}
                    <div style='position: absolute; right: 1%;' class=' center'>
                        {{receipt.value}} ДИН
                    </div>

                </mat-list-item>

                <mat-list-item *ngIf='expandingReceipts.includes(receipt)' style='margin-left: 8%; width: 90%;'>
                    Датум: {{getDate(receipt)}} &nbsp; Начин плаћања:
                    {{getMethod(receipt)}}</mat-list-item>
                <mat-list *ngIf='expandingReceipts.includes(receipt)' style='margin-left: 8%;'>
                    <ng-container *ngFor='let item of receipt.items'>
                        <mat-list-item [disableRipple]="true">
                            <mat-icon>arrow_right</mat-icon>
                            {{item.product.name}} - {{item.amount}} ({{item.product.unit}})
                            <div style="position:absolute; right: 2%">
                                Цена (порез) : {{valueOf(receipt, item).toFixed(2)}} ({{taxAmount(receipt,
                                item).toFixed(2)}}) ДИН
                            </div>

                        </mat-list-item>
                    </ng-container>
                </mat-list>
                <mat-divider></mat-divider>
            </ng-container>

        </mat-nav-list>
    </div>


</div>