<div fxLayout='column' fxLayoutAlign='center'>
    <div fxLayout='column' fxLayoutAlign='center'>
        <div fxLayout='row wrap' fxLayoutAlign='center' style='margin-top: 2%;'>
            <div>
                <mat-form-field appearance='fill' class='form-field'>
                    <mat-label>Бр. дана за плаћање</mat-label>
                    <input matInput [(ngModel)]='daysForPaying'>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance='fill' class='form-field'>
                    <mat-label>Проценат рабата</mat-label>
                    <input matInput [(ngModel)]='rebate'>
                </mat-form-field>
            </div>
        </div>
        <div fxLayoutAlign='center' fxLayout='column'
            style='margin-top: 1%; margin-bottom: 1%; max-width: 100px !important;'>
            <label id='mode-radio-group' fxLayoutAlign='center' style='margin-bottom: 3%'>Тип
                уноса:</label>
            <mat-radio-group fxLayout='row wrap' fxLayoutGap="50px grid" fxLayoutAlign='center' color='primary'
                [(ngModel)]='taxIdMode' aria-labelledby='mode-radio-group'>
                <mat-radio-button [value]='false' class='padded-radio'>Регистрација</mat-radio-button>
                <mat-radio-button [value]='true' class='padded-radio'>Претрага</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>
    <div fxLayout="row wrap" fxLayoutGap="100px grid" fxLayoutAlign='center'>
        <app-register fxLayout='column' fxLayoutAlign='space-between center' [isCustomer]="false" [isAdmin]="false"
            (messageEvent)="changeMessage($event)" (taxIdEvent)="getFeedback($event)" [class.bleak]='taxIdMode == true'
            style='margin-top: 3%'>
        </app-register>
        <div fxLayout='column' fxLayoutAlign='start center' style='margin-top: 3%'>
            <div fxLayout='column' fxLayoutAlign='center' [class.bleak]='taxIdMode == false'>
                <mat-form-field appearance='fill'>
                    <mat-label>ПИБ</mat-label>
                    <input matInput [(ngModel)]='taxIdLocal'>
                </mat-form-field>
                <div fxLayoutAlign='center'>
                    <button mat-raised-button (click)='findAndAdd()' color='primary'>Претражи и додај</button>
                </div>
            </div>
        </div>
    </div>
    <div fxLayoutAlign='center' style='margin-top: 2%'>
        <p [ngClass]="{ 'error-msg' : !isSuccess() , 'success-msg' : isSuccess()}">{{message}}</p>
    </div>
</div>