
<div class='float-container'>
    <app-register fxLayout='column' fxLayoutAlign='space-between center' class='float-child' [isCustomer]="false" [isAdmin]="false"
        (messageEvent)="changeMessage($event)" (taxIdEvent)="getFeedback($event)" [class.bleak]='taxIdMode == true'>
    </app-register>

    <div fxLayout='column' fxLayoutAlign='space-between center' [class.bleak]='taxIdMode == false'
        class='float-child'>
        <br />
            <mat-form-field appearance='fill' class='reg-form-field'>
                <mat-label>ПИБ</mat-label>
                <input matInput [(ngModel)]='taxIdLocal'>
            </mat-form-field>
        <button mat-raised-button (click)='findAndAdd()' color='primary'>Претражи</button>

    </div>
    <br />
    <hr style='border-top: 2px solid #574AE2; padding-left: 10px;'> <br />
    <div class='center'>
        <label id='mode-radio-group' class='padded-radio'>Одаберите услугу:</label>
        <br />
        <mat-radio-group color='primary' [(ngModel)]='taxIdMode' aria-labelledby='mode-radio-group'>
            <mat-radio-button [value]='false' class='padded-radio'>Регистрација</mat-radio-button>
            <mat-radio-button [value]='true' class='padded-radio'>Претрага</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class = 'center' style = 'margin-top: 2%;'>
        <mat-form-field appearance='fill' class='reg-form-field'>
            <mat-label>Бр. дана за плаћање</mat-label>
            <input matInput [(ngModel)]='daysForPaying'>
        </mat-form-field>
        <mat-form-field appearance='fill' class='reg-form-field'>
            <mat-label>Проценат рабата</mat-label>
            <input matInput [(ngModel)]='rebate'>
        </mat-form-field>
    </div>

    <div class='center'>
        <p [ngClass]="{ 'error-msg' : !isSuccess() , 'success-msg' : isSuccess()}">{{message}}</p>
    </div>

</div>