<div fxLayout='column' fxLayoutAlign='space-between center'>
    <div>
        <h4>Унесите податке за нови сто.</h4>
    </div>
    <div>
        <mat-form-field appearance='fill' class='reg-form-field'>
            <mat-label>Идентификатор</mat-label>
            <input matInput [(ngModel)]='id'>
        </mat-form-field>
        <mat-form-field appearance='fill' class='reg-form-field'>
            <mat-label>Пречник</mat-label>
            <input matInput [(ngModel)]='radius'>
        </mat-form-field>
    </div>
    <div style='width: 100%;' class='center'>
        <mat-checkbox color='primary' style='margin-right: 5%;' [(ngModel)]='round'>Округао
        </mat-checkbox>
        <button mat-raised-button (click)='addTable()' color='primary'>Додај</button>
    </div>
    <div class='center' style = 'margin-top: 3%;'>
        <p [ngClass]="{ 'invisible' : message == 'dummy', 'error-msg' : message != 'dummy' }">{{message}}
        </p>
    </div>
</div>