<mat-tab-group mat-align-tabs='center' style='background-color: white;' style='width: 100%'>
    <br />
    <mat-tab label="Општи подаци">
        <div style='margin-top: 3%; margin-bottom: 3%;'>
            <div #focusedField class='center'>
                <mat-form-field appearance='fill' class='reg-form-field'>
                    <mat-label>Име</mat-label>
                    <input matInput [(ngModel)]='productToAdd.name'>
                </mat-form-field>
                <div class='center'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Шифра</mat-label>
                        <input matInput [(ngModel)]='productToAdd.code'>
                    </mat-form-field>
                </div>
            </div>
            <div class='center'>
                <mat-form-field appearance='fill' class='reg-form-field'>
                    <mat-label>Јединица мере</mat-label>
                    <input matInput [(ngModel)]='productToAdd.unit'>
                </mat-form-field>
                <mat-form-field appearance='fill'>
                    <mat-label>Порсеска стопа</mat-label>
                    <input matInput [(ngModel)]='productToAdd.taxRate'>
                </mat-form-field>
            </div>
            <div *ngIf='company.category == "caterer"'>
                <div class='center'>
                    <label id='mode-radio-group' class='padded-radio'>Тип артикла</label>
                </div>
                <div class='center'>
                    <mat-radio-group color='primary' [(ngModel)]='productToAdd.prodType'
                        aria-labelledby='mode-radio-group' style='width: 100%; display: flex; justify-content: center;'>
                        <mat-radio-button value='food'>Храна</mat-radio-button>
                        <mat-radio-button value='drink' style='padding-right: 2%; padding-left: 2%;'>Пиће
                        </mat-radio-button>
                        <mat-radio-button value='material'>Сировина</mat-radio-button>

                    </mat-radio-group>
                </div>
            </div>

        </div>

    </mat-tab>
    <mat-tab label="Допунски подаци">
        <div style='margin-top: 3%; margin-bottom: 3%;'>
            <div class='center'>
                <mat-form-field appearance='fill'>
                    <mat-label>Произвођач</mat-label>
                    <input matInput [(ngModel)]='productToAdd.producer'>
                </mat-form-field>
            </div>
            <div class='center'>
                <mat-form-field appearance='fill' class='reg-form-field'>
                    <mat-label>Земља порекла</mat-label>
                    <input matInput [(ngModel)]='productToAdd.countryOrigin'>
                </mat-form-field>
                <mat-form-field appearance='fill'>
                    <mat-label>Страни назив</mat-label>
                    <input matInput [(ngModel)]='productToAdd.foreignName'>
                </mat-form-field>
            </div>
            <div class='center'>
                <mat-form-field appearance='fill' class='reg-form-field'>
                    <mat-label>Баркод број</mat-label>
                    <input matInput [(ngModel)]='productToAdd.barcode'>
                </mat-form-field>
                <mat-form-field appearance='fill'>
                    <mat-label>Царинска тарифа</mat-label>
                    <input matInput [(ngModel)]='productToAdd.customsTariff'>
                </mat-form-field>
            </div>
            <div class='center'>
                <mat-form-field appearance='fill' class='reg-form-field'>
                    <mat-label>Мин. жељене залихе</mat-label>
                    <input matInput [(ngModel)]='productToAdd.minAmountGlobal'>
                </mat-form-field>
                <mat-form-field appearance='fill'>
                    <mat-label>Макс. жељене залихе</mat-label>
                    <input matInput [(ngModel)]='productToAdd.maxAmountGlobal'>
                </mat-form-field>
            </div>
            <div class='center'>
                <mat-form-field appearance='fill' class='reg-form-field'>
                    <mat-label>Опис</mat-label>
                    <input matInput [(ngModel)]='productToAdd.description'>
                </mat-form-field>
                <mat-form-field appearance='fill'>
                    <mat-label>Декларација</mat-label>
                    <input matInput [(ngModel)]='productToAdd.declaration'>
                </mat-form-field>
            </div>
            <div class='center'>
                <mat-checkbox color='primary' style='margin-right: 2%;' [(ngModel)]='productToAdd.enforceTax'>Такса
                </mat-checkbox>
                <mat-checkbox color='primary' [(ngModel)]='productToAdd.enforceExcise'>Акцизе </mat-checkbox>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Цене и стања робе" style='width: 100%'>
        <div class='center' style='width: 100%'>
            <table mat-table [dataSource]="productToAdd.warehouseStats" style='width: 100%'
                style='margin-top: 3%; margin-bottom: 3%; '>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef style='margin-right: 3%;'> Име магацина </th>
                    <td mat-cell *matCellDef="let element" style='margin-right: 3%;'> {{element.warehouseName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="buy">
                    <th mat-header-cell *matHeaderCellDef> Набавна цена [ДИН]</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class='reg-form-field'>
                            <input matInput [(ngModel)]='element.purchasePrice'>
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="sell">
                    <th mat-header-cell *matHeaderCellDef> Продајна цена [ДИН]</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class='reg-form-field'>
                            <input matInput [(ngModel)]='element.sellingPrice'>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="curr">
                    <th mat-header-cell *matHeaderCellDef> Стање лагера </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class='reg-form-field'>
                            <input matInput [(ngModel)]='element.currAmount'>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="min">
                    <th mat-header-cell *matHeaderCellDef> Мин. жељена количина </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class='reg-form-field'>
                            <input matInput [(ngModel)]='element.minAmount'>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="max">
                    <th mat-header-cell *matHeaderCellDef> Макс. жељена количина </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class='reg-form-field'>
                            <input matInput [(ngModel)]='element.maxAmount'>
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- Symbol Column -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>


    </mat-tab>
    <br />

</mat-tab-group>