<div fxLayout='column' fxLayoutAlign='center' style='margin-top: 3%; margin-bottom: 3%;'>
    <div fxLayout="row wrap" fxLayoutGap="0px grid" fxLayoutAlign='space-around'>
        <app-register fxLayout='column' fxLayoutAlign='space-between center' [isCustomer]="false" [isAdmin]='true'
            (messageEvent)="changeMessage($event)" [class.bleak]='companyMode == true'>
        </app-register>

        <div fxLayout='column'>
            <div fxLayout='column' fxLayoutAlign='none center' [class.bleak]='companyMode == false'>
                <div fxLayout='row wrap' fxLayoutAlign='center'>
                    <mat-form-field appearance='fill' class='form-field'>
                        <mat-label>Корисничко име</mat-label>
                        <input matInput [(ngModel)]='username'>
                    </mat-form-field>
                </div>

                <div fxLayout='row wrap' fxLayoutAlign='center'>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Контакт телефон
                            </mat-label>
                            <input matInput [(ngModel)]='phone'>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Број личне карте</mat-label>
                            <input matInput [(ngModel)]='idCard'>
                        </mat-form-field>
                    </div>

                </div>

                <div fxLayout='row wrap' fxLayoutAlign='center'>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Име</mat-label>
                            <input matInput [(ngModel)]='name'>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Презиме</mat-label>
                            <input matInput [(ngModel)]='surname'>
                        </mat-form-field>
                    </div>

                </div>

                <div fxLayout='row wrap' fxLayoutAlign='center'>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Лозинка</mat-label>
                            <input matInput [(ngModel)]='password' type='password' ngModel
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance='fill' class='form-field'>
                            <mat-label>Потврда лозинке</mat-label>
                            <input matInput [(ngModel)]='passwordRepeat' type='password'>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutAlign='center'>
                    <button mat-raised-button (click)='regUser()' color='primary'>Региструј купца</button>

                </div>

            </div>
            <div style='margin-top:2%'>
                <hr style='border-top: 2px solid #574AE2; width: 90%;'>
            </div>

            <div fxLayoutAlign='center' fxLayout='column' style='margin-top: 3%; margin-bottom: 5%;'>
                <label id='mode-radio-group' fxLayoutAlign='center' style='margin-bottom: 3%'>Одаберите
                    услугу:</label>
                <mat-radio-group color='primary' fxLayoutAlign='space-around center' style='margin-bottom: 3%'
                    fxLayout='row wrap' [(ngModel)]='companyMode' aria-labelledby='mode-radio-group'>
                    <mat-radio-button [value]='false' class='padded-radio'>Предузеће</mat-radio-button>
                    <mat-radio-button [value]='true' class='padded-radio'>Физичко лице</mat-radio-button>
                </mat-radio-group>
            </div>

            <div fxLayoutAlign='center'>
                <p [ngClass]="{ 'error-msg' : message != successReg , 'success-msg' : message == successReg }">
                    {{message}}
                </p>
            </div>
        </div>



    </div>
</div>