<div style='width:100%; margin-top: 2%' fxLayout='column' fxLayoutAlign='space-between center'>
  <div>
    <h3 style='text-align: center; margin-top: 2%;'>Извештаји о потрошњи.<br />
    </h3>
  </div>
  <div style=' margin-bottom: 3%;' fxLayout='column' fxLayoutAlign='center center'>
    <mat-radio-group color='primary' [(ngModel)]='mode' aria-labelledby='mode-radio-group' fxLayout='row wrap'
      fxLayoutAlign='center center' fxLayoutGap="30px grid">
      <mat-radio-button value='month'>Месечни</mat-radio-button>
      <mat-radio-button value='year'>Годишњи</mat-radio-button>
    </mat-radio-group>
  </div>

  <ngx-charts-bar-vertical *ngIf='mode == "year"' [view]="[1000,400]" [results]="yearData"
    [xAxisLabel]="'Претходних 12 месеци (хронолошки)'" [legendTitle]="'Месеци потрошње'" [yAxisLabel]="'Потрошња'"
    [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
  </ngx-charts-bar-vertical>

  <ngx-charts-bar-vertical *ngIf='mode == "month"' [view]="[1000,400]" [results]="monthData"
    [xAxisLabel]="'Датни у текућем месецу'" [legendTitle]="'Датни потрошње'" [yAxisLabel]="'Потрошња'"
    [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
  </ngx-charts-bar-vertical>

</div>