<mat-sidenav-container class="example-container" *ngIf="myCompany.loginDone else finishRegistration">
  <mat-sidenav mode="side" opened style='width: 200px; background-color: #3f51b5;'>
    <mat-nav-list>
      <a mat-list-item routerLink="/" class='white-link'>Почетна</a>
      <a mat-list-item (click)="setState('dataRevision')" class='white-link'>Подаци</a>
      <a mat-list-item (click)="setState('customers')" class='white-link'>Наручиоци</a>
      <a mat-list-item (click)="setState('services')" class='white-link'>Робе и услуге</a>
      <a mat-list-item (click)="setState('order')" class='white-link'>Распоред артикала</a>
      <a mat-list-item *ngIf='myCompany.category == "caterer"' (click)="setState('tables')" class='white-link'>Распоред
        столова</a>
      <a mat-list-item (click)="setState('receipt')" class='white-link'>Издавање рачуна</a>
      <a mat-list-item (click)="setState('report')" class='white-link'>Преглед извештаја</a>


    </mat-nav-list>
    <mat-nav-list class='logout-list' style='width:100%'>
      <a mat-list-item (click)="logout()" style='vertical-align: bottom;' class='white-link'>Одјава</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <ng-container *ngIf='state == "welcome"'>
      <div style='width:100%; margin-top: 2%' fxLayout='column' fxLayoutAlign='space-between center'>
          <img [src]='myCompany.logo'>
          <div style ='margin-top: 3%;'>
            <h1 class = 'mat-headline' style='text-align: center'>Добродошли на контролни панел система за фискализацију!</h1>
          </div>

      </div>

    </ng-container>

    <app-customer *ngIf='state == "customers"' [company]="myCompany"></app-customer>

    <app-product-services *ngIf='state == "services"' [company]='myCompany'></app-product-services>

    <app-order *ngIf='state == "order"' [company]='myCompany'></app-order>

    <app-tables class='center' *ngIf='state == "tables"' [company]='myCompany'></app-tables>

    <app-receipt class='center' *ngIf='state == "receipt"' [company]='myCompany'></app-receipt>

    <app-report class='center' *ngIf='state == "report"' [company]='myCompany'></app-report>

    <div *ngIf='state == "dataRevision"' fxLayout='column' fxLayoutAlign='space-between center'>
      <mat-tab-group mat-align-tabs=' center'>
        <mat-tab label="Општи подаци">
          <br />
          <div class='center'>
            <mat-form-field appearance='fill' class='reg-form-field'>
              <mat-label>Име</mat-label>
              <input matInput [(ngModel)]='myCompany.name'>
            </mat-form-field>

            <mat-form-field appearance='fill'>
              <mat-label>Презиме</mat-label>
              <input matInput [(ngModel)]='myCompany.surname'>
            </mat-form-field>
          </div>

          <div class='center'>
            <mat-form-field appearance='fill' class='reg-form-field'>
              <mat-label>Контакт телефон</mat-label>
              <input matInput [(ngModel)]='myCompany.phone'>
            </mat-form-field>
            <mat-form-field appearance='fill'>
              <mat-label>Електронска пошта</mat-label>
              <input matInput [(ngModel)]='myCompany.mail'>
            </mat-form-field>
          </div>
          <div style='margin-top: 10px;' class='center'><button mat-raised-button (click)='update()'
              color='primary'>Измени</button></div>
          <div class='center' style='height: 60px;'>
            <p [ngClass]="{ 'error-msg' : message != successUpdate , 'success-msg' : message == successUpdate }">
              {{message}}</p>
          </div>
        </mat-tab>
        <mat-tab label="Жиро рачуни">
          <br />
          <div class='center'>
            <table>
              <tr *ngFor="let bank of myCompany.bankAccounts; let index = index;">
                <td>
                  <mat-form-field appearance="fill" class='reg-form-field'>
                    <mat-label>Име банке</mat-label>
                    <input matInput [(ngModel)]='myCompany.bankAccounts[index].bankName'>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Број рачуна</mat-label>
                    <input matInput matInput [(ngModel)]='myCompany.bankAccounts[index].accountId'>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-button color="primary" (click)='addArrayItem(myCompany.bankAccounts, index)'>
                    <mat-icon>queue</mat-icon>
                  </button>
                  <button mat-button color="primary" (click)='removeArrayItem(myCompany.bankAccounts, index)'
                    [class.invisible]='myCompany.bankAccounts.length == 1'>
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </td>
              </tr>
            </table>

          </div>
          <div style='margin-top: 10px;' class='center'><button mat-raised-button (click)='update()'
              color='primary'>Измени</button></div>
          <div class='center' style='height: 60px;'>
            <p [ngClass]="{ 'error-msg' : message != successUpdate , 'success-msg' : message == successUpdate }">
              {{message}}</p>
          </div>

        </mat-tab>
        <mat-tab label="Магацини и касе">
          <br />
          <table>
            <tr *ngFor="let bank of myCompany.warehouses; let index = index;">
              <td>
                <mat-form-field appearance="fill" class='reg-form-field'>
                  <mat-label>Име магацина</mat-label>
                  <input matInput [(ngModel)]='myCompany.warehouses[index].name'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Јединствени идентификатор</mat-label>
                  <input matInput [(ngModel)]='myCompany.warehouses[index].id'>
                </mat-form-field>
              </td>
              <td>
                <button mat-button color="primary" (click)='addArrayItem(myCompany.warehouses, index)'>
                  <mat-icon>queue</mat-icon>
                </button>
                <button mat-button color="primary" (click)='removeArrayItem(myCompany.warehouses, index)'
                  [class.invisible]='myCompany.warehouses.length == 1'>
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          <mat-divider></mat-divider>
          <table>
            <tr *ngFor="let bank of myCompany.cashRegs; let index = index;">
              <td>
                <mat-form-field appearance='fill' class='reg-form-field'>
                  <mat-label>Локација објекта</mat-label>
                  <input matInput [(ngModel)]='myCompany.cashRegs[index].location'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance='fill'>
                  <mat-label>Тип касе</mat-label>
                  <mat-select [(ngModel)]='myCompany.cashRegs[index].cgType' required="true">
                    <mat-option value='type1'> Први тип касе </mat-option>
                    <mat-option value='type2'> Други тип касе </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <button mat-button color="primary" (click)='addArrayItem(myCompany.cashRegs, index)'>
                  <mat-icon>queue</mat-icon>
                </button>
                <button mat-button color="primary" (click)='removeArrayItem(myCompany.cashRegs, index)'
                  [class.invisible]='myCompany.cashRegs.length == 1'>
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          <div style='margin-top: 10px;' class='center'><button mat-raised-button (click)='update()'
              color='primary'>Измени</button></div>
          <div class='center' style='height: 60px;'>
            <p [ngClass]="{ 'error-msg' : message != successUpdate , 'success-msg' : message == successUpdate }">
              {{message}}</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<ng-template #finishRegistration>
  <div fxLayout='column' fxLayoutAlign='space-between center'>
    <br />
    <ng-container *ngIf='myCompany.approval == "awaiting"'>
      <h3 style='text-align: center'>Ваш налог чека одобрење администратора.<br /><a href='/'> Повратак на почетну
          страницу</a>
      </h3>
    </ng-container>
    <ng-container *ngIf='myCompany.approval == "blocked"'>
      <h3 style='text-align: center'>Ваш налог је тренутно деактивиран од стране администратора.<br /><a href='/'>
          Повратак на почетну
          страницу</a>
      </h3>
    </ng-container>
    <ng-container *ngIf='myCompany.approval == "approved"'> Ово је ваша прва пријава. Потребно је да завршите
      регистрацију.
      <mat-vertical-stepper [linear]="false" #stepper style='background-color:white; '>
        <mat-step>
          <ng-template matStepLabel>Категорија предузећа и шифра делатности</ng-template>
          <div style='padding-top: 15px; padding-bottom: 15px;'>
            <mat-label #toggle style='padding-right: 30px;'>У пореском систему</mat-label>
            <mat-slide-toggle [(ngModel)]='myCompany.inTaxSystem' color='primary' aria-labelledby="toggle">
            </mat-slide-toggle>
          </div>
          <mat-form-field style='padding-right: 35px;'>
            <mat-label>Категорија предузећа</mat-label>
            <mat-select [(ngModel)]='myCompany.category' required="true">
              <mat-option value='store'> Продавница </mat-option>
              <mat-option value='caterer'> Угеститељски објекат </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style='padding-right: 35px;'>
            <mat-label>Шифра делатности</mat-label>
            <mat-select [(ngModel)]='myCompany.activityCode' required="true">
              <mat-option value='sif1'> СЗТР - 1234 </mat-option>
              <mat-option value='sif2'> СУТР - 4321</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext color='primary'>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Додавање жиро рачуна.</ng-template>
          <table>
            <tr *ngFor="let bank of myCompany.bankAccounts; let index = index;">
              <td style='padding-right: 25px'>
                <mat-form-field appearance="fill">
                  <mat-label>Име банке</mat-label>
                  <input matInput [(ngModel)]='myCompany.bankAccounts[index].bankName'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Број рачуна</mat-label>
                  <input matInput matInput [(ngModel)]='myCompany.bankAccounts[index].accountId'>
                </mat-form-field>
              </td>
              <td>
                <button mat-button color="primary" (click)='addArrayItem(myCompany.bankAccounts, index)'>
                  <mat-icon>queue</mat-icon>
                </button>
                <button mat-button color="primary" (click)='removeArrayItem(myCompany.bankAccounts, index)'
                  [class.invisible]='myCompany.bankAccounts.length == 1'>
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </tr>
          </table>

          <div>
            <button mat-button matStepperPrevious color='primary'>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matStepperNext color='primary'>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Пријава магацина.</ng-template>
          <table>
            <tr *ngFor="let bank of myCompany.warehouses; let index = index;">
              <td style='padding-right: 25px'>
                <mat-form-field appearance="fill">
                  <mat-label>Име магацина</mat-label>
                  <input matInput [(ngModel)]='myCompany.warehouses[index].name'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Јединствени идентификатор</mat-label>
                  <input matInput [(ngModel)]='myCompany.warehouses[index].id'>
                </mat-form-field>
              </td>
              <td>
                <button mat-button color="primary" (click)='addArrayItem(myCompany.warehouses, index)'>
                  <mat-icon>queue</mat-icon>
                </button>
                <button mat-button color="primary" (click)='removeArrayItem(myCompany.warehouses, index)'
                  [class.invisible]='myCompany.warehouses.length == 1'>
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          <div>
            <button mat-button matStepperPrevious color='primary'>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matStepperNext color='primary'>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Пријава фискалних каса.</ng-template>
          <table>
            <tr *ngFor="let bank of myCompany.cashRegs; let index = index;">
              <td style='padding-right: 25px'>
                <mat-form-field appearance='fill'>
                  <mat-label>Локација објекта</mat-label>
                  <input matInput [(ngModel)]='myCompany.cashRegs[index].location'>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance='fill'>
                  <mat-label>Тип касе</mat-label>
                  <mat-select [(ngModel)]='myCompany.cashRegs[index].cgType' required="true">
                    <mat-option value='type1'> Први тип касе </mat-option>
                    <mat-option value='type2'> Други тип касе </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <button mat-button color="primary" (click)='addArrayItem(myCompany.cashRegs, index)'>
                  <mat-icon>queue</mat-icon>
                </button>
                <button mat-button color="primary" (click)='removeArrayItem(myCompany.cashRegs, index)'
                  [class.invisible]='myCompany.cashRegs.length == 1'>
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          <div>
            <button mat-button matStepperPrevious color='primary'>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-button matStepperNext color='primary'>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Крај регистрације</ng-template>
          <div style='padding-top: 25px; padding-bottom: 25px;'>
            Притисните Ресет за поновно попуњавање форме или Крај за завршетак регистације.
          </div>
          <div>
            <button mat-button (click)="stepper.reset()">Ресет</button>
            <button mat-button (click)="finalize()">Крај</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </ng-container>
  </div>
</ng-template>